{% extends "dashboard.html" %}

{% block head_title %}
Add Fansub |
{% endblock %}

{% block content %}
<div class="card">
    <div class="card__header">
        <h1 class="h1 card__title">Add Fansub</h1>
    </div>
    <div class="card__body">
        {% if success %}
        <div class="alert alert--success">
            <div class="alert__message">{{ success }}</div>
        </div>
        {% endif %}
        {% if errors %}
        <div class="alert alert--warning">
            {% for i in errors %}
            <div class="alert__message">{{ i }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form class="form" method="post">
            <input type="hidden" name="formtype" value="add_fansub">
            <div class="form__group">
                <label class="label" for="name">Name</label>
                <input class="input input--full" type="text" name="name" placeholder="Name" autocomplete="off" required>
            </div>
            <button class="button" type="submit">Add fansub</button>
        </form>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/tom-select.min.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/tom-select.base.min.js') }}"></script>
{% endblock %}
