{% extends "dashboard.html" %}

{% block head_title %}
Anime |
{% endblock %}

{% block content %}
<div class="card">
    <div class="card__header">
        <h1 class="h1 card__title">Anime</h1>
    </div>
    <div class="card__body">
        {% if error %}
        <div class="alert alert--warning">
            <div class="alert__message">{{ error }}</div>
        </div>
        {% endif %}

        <div class="section">
            <h2 class="h2 section__title">Add anime</h2>
            <a class="button" href="{{ url_for('anime_add') }}">Add anime</a>
        </div>
        <div class="section">
            <h2 class="h2 section__title">Remove anime</h2>
            <a class="button" href="{{ url_for('anime_remove') }}">Remove anime</a>
        </div>
        <div class="section">
            <h2 class="h2 section__title">Edit anime</h2>
            <form class="form" method="post">
                <div class="form__group">
                    <select id="select-edit" name="id" placeholder="Select anime..." autocomplete="off" required>
                        {% if not anime %}
                        <option value="">No anime.</option>
                        {% else %}
                        <option value="">None</option>
                        {% endif %}
                        {% for i in anime %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="button" type="submit">Edit anime</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/tom-select.min.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/tom-select.base.min.js') }}"></script>
{% endblock %}
