{% extends "dashboard.html" %}

{% block head_title %}
Edit Anime |
{% endblock %}

{% block content %}
<div class="card">
    <div class="card__header">
        <h1 class="h1 card__title">Edit Anime</h1>
    </div>
    <div class="card__body">
        {% if success %}
        <div class="alert alert--success">
            <div class="alert__message">{{ success }}</div>
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert--warning">
            <div class="alert__message">{{ error }}</div>
        </div>
        {% endif %}
        <form id="anime-edit" class="form" method="post">
            <div class="form__group">
                <label class="label" for="name">Title</label>
                <input class="input input--full" type="text" name="name" placeholder="{{ title }}" value="{{ title }}" autocomplete="off" required>
            </div>
            <div class="form__group">
                <label class="label" for="fansub">Fansub</label>
                <select id="select-add" name="fansub" placeholder="Fansub..." autocomplete="off">
                    <option value="">None</option>
                    {% for i in fansub %}
                    <option value="{{ i.name }}" {% if i.name == current_fansub %}selected{% endif %}>{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__group">
                <label class="label" for="url">URLs <small>(one per line)</small></label>
                <textarea class="input" name="url" cols="30" rows="10" value="ciao">{{ url }}</textarea>
            </div>
            <button class="button" type="submit">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/tom-select.min.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/tom-select.base.min.js') }}"></script>
{% endblock %}
