{% extends "dashboard.html" %}

{% block head_title %}
Add page |
{% endblock %}

{% block content %}
<div class="card">
    <div class="card__header">
        <h1 class="h1 card__title">Add page</h1>
    </div>
    <div class="card__body">
        {% if errors %}
        <div class="alert alert--warning">
            {% for i in errors %}
            <div class="alert__message">{{ i }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert--success">
            <div class="alert__message">{{ success }}</div>
        </div>
        {% endif %}

        <form class="form" method="post">
            <div class="form__group">
                <label class="label" for="name">Name</label>
                <input class="input" type="text" name="name" autocomplete="off">
            </div>
            <div class="form__group">
                <label class="label" for="slug">Slug</label>
                <input class="input" type="text" name="slug" autocomplete="off">
            </div>
            <div class="form__group">
                <label class="label" for="icon">Icon <small>(FontAwesome)</small></label>
                <input class="input" type="text" name="icon" autocomplete="off" placeholder="fas fa-clock">
            </div>
            <div class="form__group">
                <label class="label" for="content">Content</label>
                <textarea class="textarea" name="content" cols="30" rows="10"></textarea>
            </div>
            <button class="button" type="submit">Create page</button>
        </form>
    </div>
</div>
{% endblock %}
