{% extends "dashboard.html" %}

{% block head_title %}
Change password |
{% endblock %}

{% block content %}
<div class="card">
    <div class="card__header">
        <h1 class="h1 card__title">Change Password</h1>
    </div>
    <div class="card__body">
        {% if errors %}
        <div class="alert alert--warning">
            {% for i in errors %}
            <div class="alert__message">{{ i }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert--success">
            <div class="alert__message">{{ success }}</div>
        </div>
        {% endif %}
        <form class="form" method="post">
            <div class="form__group">
                <label class="label" for="password">Password</label>
                <input class="input input--full" type="password" name="password" placeholder="Current password" autocomplete="off" required>
            </div>
            <div class="form__group">
                <label class="label" for="new_password">New password</label>
                <input class="input input--full" type="password" name="new_password" placeholder="New password" autocomplete="off" required>
            </div>
            <div class="form__group">
                <label class="label" for="confirm_password">Confirm password</label>
                <input class="input input--full" type="password" name="confirm_password" placeholder="Confirm password" autocomplete="off" required>
            </div>
            <button class="button" type="submit">Change password</button>
        </form>
    </div>
</div>
{% endblock %}
